# Ignore all files
*.*

# Except
!*.json
!*.zip
!*.7z
!*.csv
!*.ks
!.gitignore
!README.md
package.json

# Images
!game204.jpg
!game202.jpg
!btn1.png
!btn2.png
!btn3.png
!button_cg.gif
!button_config.gif
!button_load.gif
!button_replay.gif
!button_start.gif

